<div class="container-fluid">
    <div class="container">
        <div class="tittle text-center">Đội ngũ Admin</div>
        <div class="row mx-0 justify-content-around">
            <div class="content col-sm-6 col-lg-6 col-xl-4">
                <img src="./assets/images/IMAGE/ThanhVien/Gam.jpg" alt="Gấm">
                <p>Nguyễn Phan Diệu Gấm</p>
                <p>K194060846</p>
            </div>
            <div class="content col-sm-6 col-lg-6 col-xl-4">
                <img src="./assets/images/IMAGE/ThanhVien/Hien.PNG" alt="Hiền">
                <p>Phan Thị Lê Hiền</p>
                <p>K194060847</p>
            </div>
            <div class="content col-sm-6 col-lg-6 col-xl-4">
                <img src="./assets/images/IMAGE/ThanhVien/Khoa.PNG" alt="Khoa">
                <p>Nguyễn Đăng Khoa</p>
                <p>K194060850</p>
            </div>
            <div class="content col-sm-6 col-lg-6 col-xl-4">
                <img src="./assets/images/IMAGE/ThanhVien/Long.PNG" alt="Long">
                <p>Trương Thanh Long</p>
                <p>K194060853</p>
            </div>
            <div class="content col-sm-6 col-lg-6 col-xl-4">
                <img src="./assets/images/IMAGE/ThanhVien/Thi.png" alt="Thi">
                <p>Nguyễn Thị Phương Thi</p>
                <p>K194060872</p>
            </div>
            <div class="content col-sm-6 col-lg-6 col-xl-4">
                <img src="./assets/images/IMAGE/ThanhVien/Thy.PNG" alt="Thy">
                <p>Lê Mai Ngọc Thy</p>
                <p>K194060875</p>
            </div>
        </div>

        <div class="tittle text-center">Liên hệ với chúng tôi</div>
        <div class="form_style">
            <form action="">
                <div class="form-row">
                    <div class="form-row--left">
                        <label for="ten">Tên <span class="redstar">*</span></label>
                    </div>
                    <div class="form-row--right">
                        <input type="text" id="ten">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-row--left">
                        <label for="email">Email <span class="redstar">*</span></label>
                    </div>
                    <div class="form-row--right">
                        <input type="email" id="email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-row--left">
                        <label for="phone">Số điện thoại <span class="redstar">*</span></label>
                    </div>
                    <div class="form-row--right">
                        <input type="phone" id="phone">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-row--left">
                        <label for="noidung">Nội dung <span class="redstar">*</span></label>
                    </div>
                    <div class="form-row--right">
                        <textarea class="form-text" id="noidung" rows="7"></textarea>
                    </div>
                </div>
                <div class="button-box">
                    <button type="submit" class="btn btn-primary btnGui" id="gui">Gửi</button>
                </div>
            </form>
        </div>
        <div class="tittle text-center">Về chúng tôi </div>

        <!-- Carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel" style="height: 250px">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner intro ">
                <div class="carousel-item active ">
                    <div class="row text-center mx-auto " style="width: 80%">
                        <div class="col-lg-6 col-sm-6 col-xs-6  ">
                            <h2>Tầm nhìn</h2>
                            <p>Trở thành top những doanh nghiệp về du lịch có chất lượng dịch vụ tốt nhất tại Việt Nam <br> Nằm trong top 5 công ty lữ hành uy tính tại Việt Nam</p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-6  ">
                            <img src="./assets/images/IMAGE/Vision.jpg" alt="Vision" class="img-thumbnail"
                                width="300px">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row text-center mx-auto " style="width: 80%">
                        <div class="col-lg-6 col-sm-6 col-xs-6  ">
                            <h2>Sứ mệnh</h2>
                            <p>Mang đến cho khách hàng sự trải nghiệm du lịch mới mẽ với giá cả phải chăng <br> Nâng tầm du lịch Việt Nam ra quốc tế</p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-6  ">
                            <img src="./assets/images/IMAGE/Mission.jpg" alt="Mission" class="img-thumbnail"
                                width="300px">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row text-center mx-auto " style="width: 80%">
                        <div class="col-lg-6 col-sm-6 col-xs-6  ">
                            <h2>Giá trị cốt lõi</h2>
                            <p>Sự hài lòng của khách hàng là mục tiêu trung tâm của doanh nghiệp <br> Thái độ hơn trình độ <br> Đổi mới không ngừng</p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-6 ">
                            <img src="./assets/images/IMAGE/CoreValue.jpg" alt="CoreValue" class="img-thumbnail "
                                width="300px">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>

    </div>
</div>