<div class="container-fluid">
    <div class="row">
        <span class="badge">THÔNG TIN KHÁCH HÀNG</span>
    </div>
    <div class="ttkh-box">
        <div class="d-flex flex-row">
            <div class="left-box">
                <img class="img" src="./assets/images/IMAGE/ThanhVien/Khoa.PNG">
                <span class="name">NGUYỄN ĐĂNG KHOA</span>

                <!-- <--Menubar-->
                <div class="menubar">
                    <img src="./assets/images/ICON/user2.png" class="img-icon">
                    <span>Tài khoản của tôi</span>
                </div>
                <div class="menubar">
                    <img src="./assets/images/ICON/invoice.png" class="img-icon">
                    <span>Đơn hàng</span>
                </div>
                <div class="menubar">
                    <img src="./assets/images/ICON/notification.png" class="img-icon">
                    <span>Thông báo</span>
                </div>

            </div>
            <div class="right-box">
                <span class="header-span">LỊCH SỬ ĐƠN HÀNG</span>
                <!-- <--Order item-->
                <div class="order-item">
                    <div>
                        <img src="./assets/images/IMAGE/PhuQuoc1.jpg" class="img-order">
                    </div>
                    <div class="order-content">
                        <div>PHÚ QUỐC 3 NGÀY-2 ĐÊM</div>
                        <div>SỐ LƯỢNG:<span class="soluong"> 2 người lớn, 3 trẻ em</span> </div>
                        <div class="status">TRẠNG THÁI:
                            <span class="status-span-thanhtoan">&nbsp;ĐÃ THANH TOÁN</span>
                        </div>
                        <div class="total">TỔNG TIỀN: <span>20.000.000 Đ</span></div>

                    </div>
                </div>
                <div class="order-item">
                    <div>
                        <img src="./assets/images/IMAGE/PhuQuoc1.jpg" class="img-order">
                    </div>
                    <div class="order-content">
                        <div>PHÚ QUỐC 3 NGÀY-2 ĐÊM</div>
                        <div>SỐ LƯỢNG:<span class="soluong"> 2 người lớn, 3 trẻ em</span> </div>
                        <div class="status">TRẠNG THÁI:
                            <span class="status-span-huy">&nbsp;ĐÃ HỦY</span>
                        </div>
                        <div class="total">TỔNG TIỀN: <span>20.000.000 Đ</span></div>
                    </div>
                </div>
                <div class="order-item">
                    <div>
                        <img src="./assets/images/IMAGE/PhuQuoc1.jpg" class="img-order">
                    </div>
                    <div class="order-content">
                        <div>PHÚ QUỐC 3 NGÀY-2 ĐÊM</div>
                        <div>SỐ LƯỢNG:<span class="soluong"> 2 người lớn, 3 trẻ em</span> </div>
                        <div class="status">TRẠNG THÁI:
                            <span class="status-span-chothanhtoan">&nbsp;CHỜ THANH TOÁN</span>
                        </div>
                        <div class="total">TỔNG TIỀN: <span>20.000.000 Đ</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>