.container-fluid{
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;
}
.h4{
    font-family: Fester_Bold;
    color: white;
}
img{
  margin-top: 5px
}
.main-logo{
   margin-top: -30px
   
}
p{
    color: white;
    font-family: Montserrat;
}
.left p{
    margin-top: -40px;
    
    /* font-weight: bold */
}
.img_bank{
    width: 60px;
    margin: 1px 0; 
}
.img_logo{
    width: 50px;
}