<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4  left">
            <img src="../assets/images/logo/logo.png" class="img-fluid main-logo" alt="Logo error">
            <p class="text-start">Lữ hành EPTRAVEL thương hiệu lữ hành hàng đầu Việt nam.
                Thương hiệu quốc gia</p>
        </div>
        <div class="col-lg-8 ">
            <div class="row">
                <div class="col-sm-6">
                    <p class="h4" style="margin-top: 20px">Chứng nhận</p>
                    <img src="../assets/images/logo/protect.png" class="img-fluid" alt="Logo error" width="150px">
                    <br>
                    <img src="../assets/images/logo/dathongbao.png" class="img-fluid" alt="Logo error" width="200px">
                </div>
                <div class="col-sm-6">
                    <p class="h4" style="margin-top: 20px">Liên hệ</p>
                    <p class="text-start">Địa chỉ 669 QL 1A, Khu phố 3, Quận Thủ Đức, Thành phố Hồ Chí Minh
                        Tổng đài: 19000000 <br>
                        Email: info@gmail.com</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="h4" style="margin-top: 20px">Chấp nhận thanh toán</p>
                    <div class="d-flex justify-content-start">
                        <div class="p-2">
                            <img src="../assets/images/logo/ví VNpay.png" class="img_bank" alt="Logo error">
                        </div>
                        <div class="p-2">
                            <img src="../assets/images/logo/visa.png" class="img_bank" alt="Logo error">
                        </div>
                        <div class="p-2">
                            <img src="../assets/images/logo/mastercard.png" class="img_bank" alt="Logo error">
                        </div>
                        <div class="p-2">
                            <img src="../assets/images/logo/jcb.png" class="img_bank" alt="Logo error">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <p class="h4" style="margin-top: 20px">Mạng xã hội</p>
                    <div class="d-flex justify-content-start">
                        <div class="p-2">
                            <img src="../assets/images/logo/fbfooter.png" class="img_logo" alt="Logo error">
                        </div>
                        <div class="p-2">
                            <img src="../assets/images/logo/ins.png" class="img_logo" alt="Logo error">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>