<div class="container-fluid">
    <div class="Dangky-content" style="margin-top: 10px;">
        <!-- <div class="space"> -->
        <!-- <app-header style></app-header> -->
    </div>
    <div class="frame">

        <div style="text-align: center;"><img src="./assets/images/logo/logo.png" max-width="300px" alt="Error"
                class="logo"></div>
        <h2>Đăng ký</h2>
        <p>Để hoàn tất đăng ký, khách hàng vui lòng điền đầy đủ thông tin và nhấn vào nút Đăng ký. Xin chân thành cảm ơn
            khách hàng</p>


        <form [formGroup]="regForm" (ngSubmit)="onSubmit(regForm.value)">
            <div class="form-row">
                <div class="form-row--left">
                    <label for="hoten">Họ tên <span class="redstar">*</span></label>
                    <div>
                        <input type="text" id="hoTen" placeholder="Họ và Tên" class="form-control"
                            formControlName="hoTen"
                            [class.is-invalid]="regForm.controls['hoTen'].invalid&&regForm.controls['hoTen'].touched">
                        <div class="error-format">
                            <small class="text-danger" *ngIf="regForm.controls['hoTen'].errors?.['required']">Không được
                                để
                                trống</small>
                            <small class="text-danger"
                                *ngIf="regForm.controls['hoTen'].errors?.['required']&&regForm.controls['hoTen'].errors?.['minlength']">Và</small>
                        </div>
                    </div>


                </div>

                <div class="form-row--right">
                    <label for="gioitinh">Giới tính <span class="redstar">*</span></label>
                    <!-- <input type="text" id="gioitinh"> -->
                    <span class="gt">
                        <input value="nam" formControlName="gioiTinh" type="radio" name="gioiTinh" id="nam"><span
                            class="gioiTinh"><span>Nam</span></span>
                        <input value="nu" formControlName="gioiTinh" type="radio" name="gioiTinh" id="nu"><span
                            class="gioiTinh">Nữ</span>
                    </span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row--left">
                    <label for="ngaysinh">Ngày sinh<span class="redstar">*</span></label>
                    <div>
                        <input type="date" id="ngaysinh" formControlName="ngaySinh"
                            [class.is-invalid]="regForm.controls['ngaySinh'].invalid&&regForm.controls['ngaySinh'].touched">
                    </div>
                </div>
                <div class="form-row--right">
                    <label for="didong">Di động<span class="redstar">*</span></label>
                    <div>
                        <input type="text" id="didong" placeholder="0326123397" class="form-control"
                            formControlName="diDong"
                            [class.is-invalid]="regForm.controls['diDong'].invalid&&regForm.controls['diDong'].touched">
                        <div class="error-format">
                            <small class="text-danger" *ngIf="regForm.controls['diDong'].errors?.['required']">Không
                                được để
                                trống</small>
                            <small class="text-danger"
                                *ngIf="regForm.controls['diDong'].errors?.['minlength']||regForm.controls['diDong'].errors?.['maxlength']">Số
                                điện thoại phải có 10 chữ số</small>
                            <small class="text-danger" *ngIf="regForm.controls['diDong'].errors?.['pattern']">Sai Format
                                số điện thoại</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row--left">
                    <label for="cmnd">CMND/CCCD</label>
                    <div>
                        <input type="text" id="cmnd" placeholder="0326123397" class="form-control"
                            formControlName="cMND"
                            [class.is-invalid]="regForm.controls['cMND'].invalid&&regForm.controls['cMND'].touched">
                        <small class="text-danger" *ngIf="regForm.controls['cMND'].errors?.['required']">Số CMND không
                            được để trống</small>
                        <small class="text-danger" *ngIf="regForm.controls['cMND'].errors?.['pattern']">CMND chỉ được
                            chứa số</small>
                    </div>
                </div>
                <div class="form-row--right">
                    <label for="ngaycap">Ngày cấp</label>
                    <div>
                        <input type="date" id="ngaycap" formControlName="ngayCap">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row--left">
                    <label for="email">Email<span class="redstar">*</span></label>
                    <div>
                        <input type="text" id="email" placeholder="ngdakhoa@gmail.com" class="form-control"
                            formControlName="email"
                            [class.is-invalid]="regForm.controls['email'].invalid&&regForm.controls['email'].touched">
                        <small class="text-danger" *ngIf="regForm.controls['email'].errors?.['required']">email không
                            được để trống</small>
                        <small class="text-danger" *ngIf="regForm.controls['email'].errors?.['email']">Email sai cấu
                            trúc</small>
                    </div>
                </div>
                <div class="form-row--right">
                    <label for="diachi">Địa chỉ<span class="redstar">*</span></label>
                    <div>
                        <input type="text" id="diachi" placeholder="115 Đinh Chiến Thắng" class="form-control"
                            formControlName="diaChi"
                            [class.is-invalid]="regForm.controls['diaChi'].invalid&&regForm.controls['diaChi'].touched">
                        <small class="text-danger" *ngIf="regForm.controls['diaChi'].errors?.['required']">Địa chỉ không
                            được để trống</small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row--left">
                    <label for="matkhauu">Mật khẩu<span class="redstar">*</span></label>
                    <div>
                        <input type="password" id="pass" placeholder="nhập mật khẩu mới" class="form-control"
                            formControlName="pass"
                            [class.is-invalid]="regForm.controls['pass'].invalid&&regForm.controls['pass'].touched">
                    </div>
                </div>
                <div class="form-row--right">
                    <label for="nl_matkhau">Nhập lại MK<span class="redstar">*</span></label>
                    <div>
                        <input type="password" id="confirmPass" placeholder="Nhập lại mật khẩu" class="form-control"
                            [class.is-invalid]="regForm.errors?.['misMatch']" formControlName="confirmPass">
                        <small class="text-danger" *ngIf="regForm.errors?.['misMatch']">Mật khẩu nhập lại không trùng
                            khớp</small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-row--left">
                    <label for="avatar">Avatar</label>
                    <div>
                        <input type="file" id="avatar" placeholder="choose file" class="form-control"
                            (change)="onChange($event)" formControlName="file">
                    </div>
                </div>
                <div class="form-row--right">
                    <!-- <img src="./assets/images/logo/logo.png" alt=""> -->
                </div>
            </div>
            <!-- <p>{{regForm.value|json}}</p> -->
            <input type="submit" value="Đăng ký" class="btn btn-primary" id="btnDangky">
        </form>
        <div class="line"></div>
        <div class="footer-dangky">
            <div class="ft-left">
                <span id="linktodn">Đăng
                    nhập</span>
                <br>
                <br>
                <span style="color: rgb(75, 75, 75); font-size: 13px">Hoặc</span>
                <br>
                <br>
                <div class="dn-logo">
                    <input type="button" value="" id="gg_link-icon"
                        style="background-image: url(./assets/images/ICON/GG.png);">
                    <input type="button" value="" id="fb_link-icon"
                        style="background-image: url(./assets/images/ICON/FB.png);">
                    <input type="button" value="" id="tw_link-icon"
                        style="background-image: url(./assets/images/ICON/TW.png);">
                </div>
            </div>
            <div class="ft-center"></div>
            <div class="ft-right">


            </div>
        </div>
    </div>

</div>