.slider-one {
  /* height: 330px; */
  width: 100%;
}

.slider-one:first-child {
  /* background-color: red */
  border-radius: 15px;
}

.carousel-indicators button {
  color: red !important;
}

.row {
  margin-top: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* height: 50px;
  width: 50px; */
  outline: black;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  height: 10%;
  width: 20%;
}

.carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 0 10px;
}

.slider-two-bg {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 20px;
}

.slider-two-img1 {
  position: relative;
}

.slider-two-text1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 25px;
  font-family: Fester_Bold;
  border-radius: 10px;
  text-align: center;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 200px;
  top: 40%;
  padding: 5px;
  line-height: 50px;
}

.slider-two-img2 {
  position: relative;
}

.slider-two-text2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 25px;
  font-family: Fester_Bold;
  border-radius: 10px;
  text-align: center;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 200px;
  top: 40%;
  padding: 5px;
  line-height: 50px;
}

.slider-two {
  /* position: relative; */
}

.slider-two div img {
  /* width: 40vw;
  border-radius: 20px; */
}

.slider-two div p {

  /* position: absolute;
  top: 50%; */

  /* left: 100px; */

  /* transform: translateY(-30%);
  transform: translateX(77%);
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 30px;
  font-family: Fester_Bold;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  padding: 10px 20px 5px;
  margin-top: -45px; */
}

.slider-two div p:hover {
  cursor: pointer;
  transition: opacity 0.4s;
}

.slider-three {
  background-color: rgba(255, 255, 255, 0.4) !important;
  border-radius: 10px;
  height: 350px;
  margin: 20px 0;
}

.slider-three-item :hover {
  transform: scale(1.02);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.two-col {
  /* height: 550px; */
  /* width: 100%;
  margin-bottom: 20px; */
  /* background-color: red; */
  /* position: relative; */
}

.ttdl {
  background-color: rgba(255, 255, 255, 0.6) !important;
  /* flex: 22; */
  border-radius: 10px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding: 5px 100px; */
  /* margin-top: 50px; */
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;

}
.ttdl-tour{
  margin: 10px;
}
.ttld-header {
  /* position: absolute;
  top: 0px; */
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Fester_Bold;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  line-height: 35px;
  /* left: 0;
  width: 73%;
  margin-left: -10px; */
  color: white;
  margin: 15px 0px;
}

.ttqt-content {
  /* height: 250px; */
  background-color: rgba(255, 0, 0, 0);
  /* margin-top: 30px;
  display: flex;
  margin-left: -25px; */
}

.ttqt {
  padding: 20px 10px;
  font-family: Fester_Bold;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

/* .ttqt .ttqt-right {
  height: 170px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  display: flex;
} */

/* .ttqt .ttqt-right>div:first-child {
  flex: 3;
  margin-right: 10px;
}

.ttqt .ttqt-right>div:first-child>img {
  border-radius: 10px;
}

.ttqt .ttqt-right>div:last-child {
  flex: 2;
  width: 100px;
  font-size: 17px;
  font-family: Fester_Bold;
  overflow-wrap: break-word;
}

.ttqt .ttqt-right>div:last-child>.position-absolute {
  position: absolute;
  right: 5px;
  bottom: 15px;
} */

.ttqt-contentt {
  overflow-y: scroll;
  height: 430px;
}

/* .ttdl .ttqt-content>div {
  flex: 1;
  text-align: center;
}

.ttdl .ttqt-content>div:first-child {
  margin-right: 50px;
}

.ttdl .ttqt-content>div:last-child {
  margin-left: 50px;
}

.ttdl .ttqt-content img {
  border-radius: 10px;
}

.ttdl .ttqt-content p {
  font-family: Fester_Bold;
  font-size: 20px;
  color: rgb(26, 0, 82);
  margin-top: 5px;
}

.space {
  flex: 1;
} */

.ttqt {
  background-color: rgba(255, 255, 255, 0.6) !important;
  flex: 10;
  border-radius: 10px;
  margin: 15px 0px;
}

div#carouselExampleIndicators {
  padding: 0;
}

/* img.d-block.w-100 {
  border-radius: 15px;
} */

.carousel {
  /* background: #fafafa; */
}

.carousel-cell {
  width: 25%;
  height: 200px;
  margin-right: 10px;
  background: #333;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.slider-three {
  height: 100%;
}

.slider-three img {
  border-radius: 15px;
}