<div class="thongtin-content bg-light mx-auto bg-opacity-50 ">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 " style="width: 380px; margin-left: 0px;">
            <img src="..." class="rounded float-left">
        </div>
        <div class="col-lg-6" style="width:350px; margin-left: 0px;">
            <h5>Tên tour</h5>
            <p>Thông tin sản phẩm</p>
        </div>
    </div>
    <div class="thongtin-thantoan">
        <!-- <div class="text-divider ">
            <h5 id="thanhtoan-tieude">Hành khách</h5>
        </div> -->
        <div>
            <h2 class="text-center m-2">Hành khách</h2>
        </div>
        <div class="border-hanhkhach ">
            <div class="m-4">
                <div class="hanhkhanh row">
                    <p class="col-8">Người lớn:</p>
                    <p class="col-4 w-25 ">Giá x Số lượng</p>
                </div>
                <div class="hanhkhanh row">
                    <p class="col-8">Trẻ em:</p>
                    <p class="col-4 w-25 ">Giá x Số lượng</p>
                </div>
                <div class="hanhkhanh row">
                    <p class="col-8">Trẻ nhỏ:</p>
                    <p class="col-4 w-25 ">Giá x Số lượng</p>
                </div>
                <div class="hanhkhanh row">
                    <p class="col-8">Em bé:</p>
                    <p class="col-4 w-25 ">Giá x Số lượng</p>
                </div>
                <div class="hanhkhanh row">
                    <p class="col-8">Phụ thu phòng riêng:</p>
                    <p class="col-4 w-25 ">Giá</p>
                </div>
                <div class="row">
                    <div class="col-6" style="margin-left:10%">
                        <p>Mã giảm giá</p>
                    </div>
                    <div class="row col-4">
                        <div class="col ">
                            <input class="input-themma " type="text " placeholder="Thêm mã ">
                        </div>
                        <div class="col ">
                            <button class="btn-apdung ">Áp dụng</button>
                        </div>
                    </div>
                </div>

                <div class="border border-secondary m-4 ">
                </div>
                <div class="row ">
                    <h4 class="tongcong col ">Tổng cộng</h4>
                    <span class="col " style="margin-left:30% ">Giá</span>
                </div>
                <div class="row m-6 ">
                    <p class="col-6 pttt ">Phương thức thanh toán</p>
                    <div class="col-6 w-25 ">
                        <select class="chonphuongthuc form-select form-select-sm " aria-label=".form-select-sm example ">
                    <option selected>Chọn phương thức</option>
                    <option value="1 ">Ngân hàng</option>
                    <option value="2 ">Momo</option>
                </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center ">
        <button class="btn btn-primary btn-datngay ">Đặt ngay</button>
    </div>
</div>