<div class="container" style="height: 1800px;">
    <div class="row slider-one  justify-content-center bg-opacity-75">
        <div class="col-12 h-100 carousel slide" id="carouselExampleIndicators" data-ride="carousel">
            <!-- <ul class="carousel-indicators">
                <li data-bs-slide-to="0" class="active"></li>
                <li data-bs-slide-to="1"></li>
                <li data-bs-slide-to="2"></li>
              </ul>
             -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" style="border-radius: 15px;">
                <div class="carousel-item active">
                    <img src="../assets/images/banner/banner5.jpg" width="100%" height="280"
                        style="border-radius: 15px;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../assets/images/banner/banner4.jpg" width="100%" height="280"
                        style="border-radius: 15px;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../assets/images/banner/banner3.jpg" width="100%" height="280"
                        style="border-radius: 15px;" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div style="height: 700px;">
        <div class="bg-trongnuoc container">
            <p class="font">Tour Trong Nước</p>
            <div class="row slider-three">
                <ngx-slick-carousel class="ms-2 carousel-three" #slickModal="slick-carousel" [config]="slideConfig"
                    (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">

                    <div ngxSlickItem *ngFor="let t of tour" class="col-12 col-sm-6 col-md-2 slider-three slider-three-item">
                        <div class='khuyenmai_sp d-block justify-content-center'>
                            <img src="{{ base_url + t.images[2] }}" alt="" width="100%">
                            <div class='khuyenmai_sp--content'>
                                <h3 class='khuyenmai_text'>{{t.ten_tour}}</h3>
                                <p class='khuyenmai_matour'>Mã tour: {{t.ma_tour}}</p>
                                <p class='khuyenmai_time'>Thời gian: {{t.thoigian}}</p>
                                <p class='khuyenmai_diadiem'>Địa điểm khởi hành: {{t.noikhoihanh}}</p>
                                <div class='khuyenmai_gia'> {{t.giatiennguoilon -
                                    (t.giatiennguoilon*t.giamgia /100) | number}}<span>đ</span></div>
                                <div class='khuyenmai_giacu'> {{t.giatiennguoilon | number}}<span>đ</span></div>
                                <input type='button' class='khuyenmai_imagecard' value='Đặt ngay'>
                                <img class='phuongtien_item1' src='./assets/images/ICON/bus.png' alt='bus'>
                                <img class='phuongtien_item2' src='./assets/images/ICON/plane.png' alt='plane'>
                                <div class='khuyenmai_percent'>
                                    <img class='khuyenmai_percent--tag' src='./assets/images/ICON/tag.png'>
                                    <div class='khuyenmai_percent--text'>-<span>{{t.giamgia | number}}</span><span>%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>

    </div>

    <div style="height: 400px;">
        <div class="bg-ngoainuoc container">
            <p class="font">Tour Ngoài Nước</p>
            <div class="row slider-three">
                <ngx-slick-carousel class="ms-2 carousel-three" #slickModal="slick-carousel" [config]="slideConfig"
                    (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (slidesToShow)= "1"
                    (beforeChange)="beforeChange($event)">

                    <div ngxSlickItem *ngFor="let t of tour" class="col-12 col-sm-6 col-md-2 slider-three slider-three-item">
                        <div class='khuyenmai_sp d-block justify-content-center' >
                            <img src="{{base_url + t.images[2] }}" alt="" width="100%">
                            <div class='khuyenmai_sp--content'>
                                <h3 class='khuyenmai_text'>{{t.ten_tour}}</h3>
                                <p class='khuyenmai_matour'>Mã tour: {{t.ma_tour}}</p>
                                <p class='khuyenmai_time'>Thời gian: {{t.thoigian}}</p>
                                <p class='khuyenmai_diadiem'>Địa điểm khởi hành: {{t.noikhoihanh}}</p>
                                <div class='khuyenmai_gia'> {{t.giatiennguoilon -
                                    (t.giatiennguoilon*t.giamgia /100) | number}}<span>đ</span></div>
                                <div class='khuyenmai_giacu'> {{t.giatiennguoilon | number}} <span>đ</span></div>
                                <input type='button' class='khuyenmai_imagecard' value='Đặt ngay'>
                                <img class='phuongtien_item1' src='./assets/images/ICON/bus.png' alt='bus'>
                                <img class='phuongtien_item2' src='./assets/images/ICON/plane.png' alt='plane'>
                                <div class='khuyenmai_percent'>
                                    <img class='khuyenmai_percent--tag' src='./assets/images/ICON/tag.png'>
                                    <div class='khuyenmai_percent--text'>-<span>{{t.giamgia | number}}</span><span>%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>


        </div>
    </div>
</div>